@font-face {
  font-family: Acme;
  src: url(../fonts/Acme/Acme-Regular.ttf);
}
@font-face {
  font-family: AnekB;
  src: url(../fonts/Anek_Bangla/AnekBangla-Bold.ttf);
}
@font-face {
  font-family: AnekGuj;
  src: url(../fonts/Anek_Gujarati/AnekGujarati-Thin.ttf);
}
@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope/Manrope-VariableFont_wght.ttf);
}

@font-face {
  font-family: B612;
  src: url(../fonts/b612Mono/B612Mono-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --maincolor: #05796b;
  --secondary: #f57059;
  --subtext: #757095;
  --subsubtext: #8593a3;
}

/*# ===== Header ===== */
/*!Nav Bar */

header {
  background: radial-gradient(
    circle at top right,
    #49a3f871,
    #0fd1ba00,
    transparent
  );
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5.5rem 7vw;
}

header nav div:nth-of-type(2) {
  display: flex;
  align-items: center;
}

header nav div:nth-of-type(1) {
  display: flex;
  gap: 3.8rem;
}
header nav div:nth-of-type(2) {
  display: flex;
  gap: 4.9rem;
}

/* ! Nav Links */

.logo {
  font-family: AnekB, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

header nav div a {
  font-family: Manrope, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.arrow {
  padding-left: 1.2rem;
}

/* !Class Buttons */

.o-button {
  background-color: var(--secondary);
  border-radius: 40px;
  padding: 1.7rem 3.5rem;
  color: white;
}

/* !Header Section  */

header section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5vw;
}

/* ! Header Article - manage */

.manage div:nth-of-type(1) {
  margin-bottom: 5.5rem;
}

h6 {
  font-family: Acme, sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}

.manage h1 {
  font-family: Manrope, sans-serif;
  font-size: 6rem;
  font-weight: 800;
  line-height: 133%;
  letter-spacing: -1.8px;
  margin-bottom: 1.2rem;
}

.manage p {
  color: var(--subtext);
  font-family: Manrope, sans-serif;
  font-size: 2rem;
  line-height: 175%;
  letter-spacing: -0.4px;
  padding-right: 4vw;
  margin-bottom: 4.2rem;
}

.g-button {
  color: white;
  font-family: Manrope, sans-serif;
  font-size: 1.8rem;
  text-decoration: none;
  background-color: var(--maincolor);
  padding: 1.6rem 4.8rem;
  border-radius: 80px;
  box-shadow: 0px 38px 50px 0px rgba(5, 121, 107, 0.2);
}

/* !Header section DIV users */

.users {
  display: flex;
}

.users h5 {
  font-family: Manrope, sans-serif;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: -1.3px;
  color: #282828;
}

.users p {
  font-family: AnekGuj, sans-serif;
  font-size: 1.6rem;
  line-height: 160%;
  letter-spacing: -0.8px;
  color: var(--subsubtext);
}

/* ! Header highlights on pic */

.img {
  width: 45vw;
}

.highlights {
  position: relative;
}

.high-1 {
  position: absolute;
  top: 0;
  right: 100px;
}
.high-2 {
  position: absolute;
  bottom: 170px;
  left: -80px;
}
/* # ===== MAIN ===== */
/* ! Main Section company icons */

.companies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.8rem;
  margin-bottom: 14rem;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  width: 95vw;
  padding: 0 2vw;
}

/* !Section Services */
.background {
  background: url(../img/Vectorbg.png) no-repeat right;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 25vw;
}

.services p {
  font-family: AnekB, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  text-align: center;
}

h2 {
  font-family: Manrope, sans-serif;
  font-size: 4rem;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: -1.2px;
  text-align: center;
  margin-bottom: 5.6rem;
}

/* ! Section grid  */

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.7rem;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 12.8rem;
}

/* ! grid divs  */
.grid div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  padding: 1vw 3.5vw;
  border: 1px solid #e7e7e7;
  border-radius: 15px;
  width: 27rem;
  height: 23.7rem;
}

.grid div h3 {
  font-family: Manrope, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.4px;
}

.grid div p {
  color: var(--subtext);
  font-family: Manrope, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 250%;
  letter-spacing: -0.24px;
}

.grid div img {
  background-color: #ececec;
  border-radius: 5px;
  padding: 0.8rem;
  margin-bottom: 2.5rem;
}

#more {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  justify-content: flex-end;
  background-color: var(--maincolor);
  color: white;
}

#more h3 {
  font-size: 3.3rem;
  line-height: 85%;
  letter-spacing: -0.66px;
}

#more p {
  color: white;
  margin-bottom: 2.7rem;
}

/* !Section Process */
.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 16.2rem;
}

.all-steps {
  display: flex;
  align-items: center;
}

/* !Section Process Article */
.process article {
  margin-bottom: 6.6rem;
  padding: 0 30vw;
}

.process article img {
  margin-bottom: 1.4rem;
}
.process article h2 {
  margin-bottom: 1.4rem;
}

.process article p {
  color: var(--subtext);
  font-family: Manrope, sans-serif;
  font-size: 2rem;
  line-height: 175%;
  letter-spacing: -0.4px;
}

/* !Section Process - All-steps */

.all-steps {
  padding: 0 10vw;
}
.steps {
  position: relative;
}

/* *Number */

#number {
  position: absolute;
  top: -30px;
  left: 20px;
  border-radius: 100%;
  background-color: #f6f6f7;
  box-shadow: 8px 8px 80px 0px rgba(167, 167, 167, 0.8);
  padding: 0.9rem;
  width: 55px;
  color: rgb(0, 0, 0);
  font-family: B612, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

/* *Icons stylen */

.one {
  border-radius: 80px;
  background-color: white;
  box-shadow: 6px 8px 80px 0px rgba(148, 148, 148, 0.16);
  padding: 4rem;
  margin-bottom: 5.4rem;
}

.two {
  border-radius: 80px;
  border: 1px dashed #939393;
  padding: 4rem;
  margin-bottom: 5.4rem;
}

/* *Text */

.steps h4 {
  font-family: Manrope, sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 115%;
  letter-spacing: -1.2px;
  margin-bottom: 1.6rem;
}

.steps p {
  font-family: Manrope, sans-serif;
  color: var(--subtext);
  font-size: 1.6rem;
  line-height: 200%;
  letter-spacing: -0.32px;
}

/* ! Section APP Download */

.apps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 11.1rem;
}

.apps article p:nth-of-type(1) {
  font-family: AnekB, sans-serif;
  font-size: 1.4rem;
  color: var(--secondary);
  font-weight: 700;
  text-transform: uppercase;
}

.apps article h2 {
  margin-bottom: 2.3rem;
  padding: 0 25vw;
}
.apps article p:nth-of-type(2) {
  font-family: Manrope, sans-serif;
  font-size: 2rem;
  line-height: 175%;
  letter-spacing: -0.4px;
  color: var(--subtext);
  margin-bottom: 2.4rem;
}

/* ! APP STORE BUTTONS */

.appstores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
}

.btn {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: Manrope, sans-serif;
  letter-spacing: -0.32px;
  font-weight: 600;
  padding: 1.3rem 4.8rem;
  border-radius: 47px;
}

.apple {
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.google {
  background-color: var(--maincolor);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 38px 50px 0px rgba(5, 121, 107, 0.2);
}

.applog {
  margin-right: 1rem;
}

/* !Section try-free */

.try-free {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
  gap: 2.1rem;
  margin-bottom: 13.5rem;
}

.try-free article h2 {
  text-align: left;
  padding-right: 5vw;
  padding-right: 5vw;
}

.try-free article p {
  font-family: Manrope, sans-serif;
  font-size: 2rem;
  line-height: 175%;
  letter-spacing: -0.4px;
  color: var(--subtext);
  padding-right: 12vw;
  margin-bottom: 4.8rem;
}

.tes {
  display: inline;
  font-size: 1.8rem;
}

/* ! Section PLans */
/* *headline */
.free-prem {
  text-align: center;
}
.free-prem h2 {
  margin-bottom: 3.2rem;
  padding: 0 30vw;
}
.free-prem p {
  font-family: Manrope, sans-serif;
  font-size: 2rem;
  line-height: 175%;
  letter-spacing: -0.4px;
  color: var(--subtext);
  padding: 0 30vw;
  margin-bottom: 5.9rem;
}

/* *plans */

.plans {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 3.2rem;
  background: url(../img/Vectorbg2.png) no-repeat center;
  margin-bottom: 15.6rem;
}

/* *Box */

.box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 3.2rem;
  width: 36.2rem;
  border-radius: 16px;
}

.box h6 {
  font-family: Manrope, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.price {
  display: flex;

  align-items: baseline;
  gap: 0.8rem;
}

.box div h3 {
  font-size: 6.4rem;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  line-height: 115%;
  color: white;
}

.box div p {
  font-size: 1.6rem;
  color: white;
  letter-spacing: -0.8px;
}

.box p {
  padding: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
  line-height: 200%;
  letter-spacing: -0.8px;
  color: white;
}

.border {
  border-bottom: 1px solid #4fa197;
}

.wht {
  border-color: #f0f2f3;
}

.check {
  display: flex;
  gap: 2rem;
}

.get {
  text-decoration: none;
  font-family: Manrope, sans-serif;
  font-size: 1.8rem;
  color: black;
  border-radius: 80px;
  font-weight: 600;
  text-align: center;
  padding: 1.6rem 3.2rem;
}

.join {
  border: 1px solid rgba(133, 147, 163, 0.32);
  color: var(--subsubtext);
}

.prem {
  box-shadow: 0px 48px 80px 0px rgba(0, 0, 0, 0.4);
  background-color: white;
}

/* ! Green */

.green {
  background-color: var(--maincolor);
  box-shadow: 0px 8px 80px 0px rgba(5, 121, 107, 0.32);
}

.green h6 {
  color: white;
}

/* !white */

.white {
  background-color: white;
  box-shadow: 0px 8px 80px 0px rgba(167, 167, 167, 0.24);
}

.white h6 {
  color: var(--maincolor);
}
.white div h3 {
  color: black;
}

.white p,
.white div p,
.check p {
  color: var(--subtext);
}
.white p {
  color: var(--subtext);
}

/* ! Section testimonials */

.testimonials article {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7vw;
  gap: 17.5rem;
}

.woman {
  width: 50vw;
}

.testimonials h2 {
  margin-bottom: 3.8rem;
}

.testi {
  font-family: AnekB, sans-serif;
  font-size: 1.4rem;
  text-align: center;
  color: #3734a9;
  text-transform: uppercase;
  font-weight: 700;
}

.stars {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.stars p {
  font-family: Manrope;
  font-size: 30px;
  font-weight: 700;
  line-height: 137%;
  letter-spacing: -0.6px;
  margin-bottom: 2.7rem;
}

.segment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.segment h3 {
  font-family: Manrope, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.6px;
}

.segment p {
  font-size: 1.6rem;
  color: var(--subtext);
  font-weight: 500;
  line-height: 150%;
}

/* ! Section discover */

.discover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10vw;
}

.discover article {
  background-color: var(--maincolor);
  padding: 10.8rem 21.8rem;
  border-radius: 16px;
  text-align: center;
  position: relative;
}

.discover article h2 {
  color: white;
  padding: 0 9vw;
  margin-bottom: 4.1rem;
}

.discover article a {
  text-decoration: none;
  font-family: AnekB, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: -0.36px;
  background-color: var(--secondary);
  color: white;
  padding: 1.9rem 4.9rem;
  border-radius: 50px;
}

.dots {
  position: absolute;
  top: 5rem;
  left: 25rem;
}

/* # ===== Footer =====*/
footer section {
  display: flex;
  gap: rem;
  align-items: flex-start;
}

.danial h3 {
  font-family: Manrope, sans-serif;
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}

.danial p {
  font-family: Manrope, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 175%;
  color: var(--subtext);
  margin-bottom: 3.1rem;
}

.danial {
  padding-left: 10vw;
}

.danial img {
  margin-right: 1.6rem;
}

.links {
  display: flex;
  justify-content: space-evenly;
  padding-right: 5vw;
  padding-left: 3vw;
  margin-bottom: 10rem;
  width: 100vw;
}

.links div {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.links div h3 {
  font-family: Manrope, sans-serif;
  font-size: 2.1rem;
  font-weight: 700;
}

.links div a {
  font-family: Manrope, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
  color: black;
}

.copyright {
  text-align: center;
  font-family: Manrope, sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: -0.48px;
  margin-bottom: 5.2rem;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.1rem;
}

.copy {
  border-bottom: 1px solid #f8f8fe;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 4rem;
}

/* # MEDIA QUERIES  */

/* # RESPONSIVITÄT BIS TABLET GUCKEN */

/* Tablet  */