@font-face {
  font-family: Acme;
  src: url(../fonts/Acme/Acme-Regular.ttf);
}
@font-face {
  font-family: AnekB;
  src: url(../fonts/Anek_Bangla/AnekBangla-Bold.ttf);
}
@font-face {
  font-family: AnekGuj;
  src: url(../fonts/Anek_Gujarati/AnekGujarati-Thin.ttf);
}
@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope/Manrope-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --maincolor: #05796b;
  --secondary: #f57059;
  --subtext: #757095;
  --subsubtext: #8593a3;
}

/*# ===== Header ===== */
/*!Nav Bar */

header {
  background: radial-gradient(
    circle at top right,
    #49a3f871,
    #0fd1ba00,
    transparent
  );
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5.5rem 7vw;
}

header nav div:nth-of-type(2) {
  display: flex;
  align-items: center;
}

header nav div:nth-of-type(1) {
  display: flex;
  gap: 3.8rem;
}
header nav div:nth-of-type(2) {
  display: flex;
  gap: 4.9rem;
}

/* ! Nav Links */

.logo {
  font-family: AnekB, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

header nav div a {
  font-family: Manrope, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.arrow {
  padding-left: 1.2rem;
}

/* !Class Buttons */

.o-button {
  background-color: var(--secondary);
  border-radius: 40px;
  padding: 1.7rem 3.5rem;
  color: white;
}

/* !Header Section  */

header section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  padding-left: 5vw;
}

/* ! Header Article - manage */

.manage div:nth-of-type(1) {
  margin-bottom: 5.5rem;
}

h6 {
  font-family: Acme, sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}

.manage h1 {
  font-family: Manrope, sans-serif;
  font-size: 6rem;
  font-weight: 800;
  line-height: 133%;
  letter-spacing: -1.8px;
  margin-bottom: 1.2rem;
}

.manage p {
  color: var(--subtext);
  font-family: Manrope, sans-serif;
  font-size: 2rem;
  line-height: 175%;
  letter-spacing: -0.4px;
  padding-right: 4vw;
  margin-bottom: 4.2rem;
}

.g-button {
  color: white;
  font-family: Manrope, sans-serif;
  font-size: 1.8rem;
  text-decoration: none;
  background-color: var(--maincolor);
  padding: 1.6rem 4.8rem;
  border-radius: 80px;
  box-shadow: 0px 38px 50px 0px rgba(5, 121, 107, 0.2);
}

/* !Header section DIV users */

.users {
  display: flex;
}

.users h5 {
  font-family: Manrope, sans-serif;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: -1.3px;
  color: #282828;
}

.users p {
  font-family: AnekGuj, sans-serif;
  font-size: 1.6rem;
  line-height: 160%;
  letter-spacing: -0.8px;
  color: var(--subsubtext);
}

/* ! Header highlights on pic */

.test {
  width: 50vw;
}

.highlights {
  position: relative;
}

.high-1 {
  position: absolute;
  top: 0;
  right: 100px;
}
.high-2 {
  position: absolute;
  bottom: 170px;
  left: -80px;
}

/* ! Main Section company icons */

.companies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.8rem;
  margin-bottom: 14rem;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  padding: 0 2vw;
}

/* !Section Services */
.services {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 25vw;
}

.services p {
  font-family: AnekB, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  text-align: center;
}

.services h2 {
  font-family: Manrope, sans-serif;
  font-size: 4rem;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: -1.2px;
  text-align: center;
  margin-bottom: 5.6rem;
}

/* ! Section grid  */

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.7rem;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

/* ! grid divs  */
.grid div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid div h3 {
  font-family: Manrope, sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
